header{
    background-color: #BBBBBB;
}

.logo-principal{
    width: auto;
    height: 300px;
    
}



nav li{
  display: inline; 
  margin: 0 0 0 15px;

 
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}